{% extends 'base.html.twig' %}

{% block title %} Hello {{controller_name}}{% endblock %}

{% block body %}
<h2>Информация:</h2>
<p> Название фильма: {{data.name}}</p>
<p> Фильм показывают в кинотеатрах? {{data.show}}</p>
<p> Жанр фильма: {{data.zanr}}</p>
<p> Фильм показывают в: 
    {% for item in data.where %}
    <p>{{item}}</p>
    {%endfor%}
<p> Кассовые сборы составили: {{data.cash}}</p>
<p> Фильм посетило: {{data.visit}}</p>
<p> Рейтинг фильма: {{data.rate}}</p>
<p> Описание фильма: {{data.descript}}</p>

<p>File name: {{data.file_name}} </p>
<p> File size: {{data.file_size}} </p>


{% endblock %}

{% block footer%}

{% endblock %}