{% extends 'base.html.twig' %}



{% block title %} Hello {{controller_name}}{% endblock %}

{% block notif %}{% endblock %}

{% block body %}
    <!-- block -->

    {

    <form action="methods.php" class="form-inline p-5" method="post" enctype="multipart/form-data">

    

    <div class="container border border-dark" style="background-color: white;">
        <div class="row justify-content-center align-content-center text-center">

        <div class="alert">
          {% include 'introduction/notif.html.twig' %}
        </div>

            <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center align-content-center">

            <!-- column1 -->

        <div class="col text-center">

            <!-- input with choosing file:  jpg/png  -->  
            <label> {{ labe.poster }} </label> 
            <div class="mb-3 col-12 col-md-auto form-check-inline d-flex justify-content-center">
                
                <input class="form-control w-50 d-flex" id="posterimage" name="image" required type="file" accept=".jpg,.png">
            </div>
          
            <!--input with film name-->
            <label> {{ labe.name }} </label>
            <div class="mb-3 col-12 col-md-auto d-flex justify-content-center">
                
                <input id="fname" class="form-control w-50 d-flex" name="fname" required type="text">
            </div>

            <!-- chekbox: is film still on cinema -->
            <div class="mb-3 col-12 col-md-auto form-switch form-check-inline form-check">
                <label class="form-check-label">{{ labe.show }}</label>
                <input type="checkbox" class="form-check-input d-flex" name="inthecinema" value="до сих пор показывают или ">
            </div>
            <br>
            
             <!-- checkboxes: where is film shown -->
            <label> {{ labe.where }} </label>
          <div class="mb-3 col-12 col-md-auto form-check-inline">
            {% for list in checkbox.list %}
            <input class="form-check-input" type="checkbox"  value="{{list}}" name="cinema">
            <label >{{list}}</label>
            {% endfor %} 
          </div>
            

             <!-- selection: film genre -->

            <div class="mb-3 col-12 col-md-auto">
                <label> {{ labe.zanr }} </label>
                <label><select class="form-select text-center"  name="Zanr">
                {% for list in select.list %}
                     <option>{{list}}</option> 
                {% endfor %}
                </select>
                </label>
            </div>
        </div>

         <!-- column2 -->
         
        <div class="col text-center">


             <!-- input with number type-->
                <label> {{ labe.cash }} </label>
            <div class="mb-3 col-12 col-md-auto d-flex justify-content-center">
                
                <input class="form-control text-center w-50 d-flex" id="money" name="money" type="number" value="0">
            </div>
            <label> {{ labe.visit }} </label>
            <div class="mb-3 col-12 col-md-auto d-flex justify-content-center">
                <input class="form-control text-center w-50 d-flex" id="views" name="views" type="number" value="0">
            </div>

            <!-- radio: film rating-->
              <label> {{ labe.rate }} </label>
            <div class="mb-3 col-12 col-md-auto form-check-inline">
               {% for list in radio.list %}
            <input class="form-check-input" type="radio"  value="{{list}}" name="rating">
            <label >{{list}}</label>
                {% endfor %} 
            </div>

             <!-- input with textarea: film description-->
            <div class="mb-3 col-12 col-md-auto text-center row d-flex justify-content-center">
                <label> {{ labe.descript }} </label>
                <textarea class="form-control w-75 d-flex" name="descript" required id="descript"></textarea>
            </div>

             <!-- button with submit -->


        </div>
            <div class="mb-2 p-4 col-12 col-md-auto text-center">
                <button  type="submit" class="btn btn btn-dark"> Отправить </button>
            </div>
        </div>
        </div>
        </form>
    </div>
    {% endblock %}